.caption {
    max-width: 96%;
    margin-bottom: 10px;
    padding: 8px;
    padding-top: 4px;
    border: 1px solid #ddd;
    background-color: #f3f3f3;
    text-align: center;
}
.caption img {
    margin: 0 auto;
}
.caption p {
  font-size: 14px;
  margin-bottom: 0;
}

ul{
  margin-bottom: 0;
}
